.hero {
  height: 100vh;
  position: relative; /* Para que los elementos hijos usen z-index */
  padding: 8rem 0 5rem;
  /* background: linear-gradient(to bottom right, #eef2ff, #fff); */
  overflow: hidden; /* Evita desbordamientos inesperados */
}

.content {
  position: relative; /* Se asegura de que el contenido esté por encima */
  max-width: 56rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1; /* Hace que el contenido quede sobre el SVG */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  position: relative;
  z-index: 2; /* Asegura que el título esté visible */
}

.highlight {
  color: var(--color-primary);
}

.description {
  font-size: 1.25rem;
  color: var(--color-gray-600);
  margin-bottom: 2rem;
  position: relative;
  z-index: 2; /* Asegura que el texto esté visible */
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  /* background-color: red; */
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: var(--color-primary);
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.primaryButton:hover {
  background: var(--color-primary-hover);
}

.secondaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: var(--color-primary);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 500;
  border: 2px solid var(--color-primary);
  transition: background-color 0.2s;
}

.secondaryButton:hover {
  background: var(--color-gray-50);
}

@media (min-width: 640px) {
  .title {
    font-size: 3.75rem;
  }

  .buttons {
    flex-direction: row;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que el fondo esté detrás */
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Para que quede detrás del contenido */
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(
    to bottom,
    rgba(14, 65, 102, 0.86),
    #0e4166
  );
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50vh;
  }

  .title {
    font-size: 2.5rem;
  }
}
