.backendDevelopment {
  /* padding: 2rem 1rem; */
  font-family: Arial, sans-serif;
  margin-top: 40px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35vh;
  margin: 60px auto;
  text-align: center;
}

.container-info-header-back {
  text-align: center;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  padding: 8px;
}

.title {
  font-size: 2.5rem;
  color: #4f46e5;
}

.subtitle {
  font-size: 1.25rem;
  color: #6b7280;
}

.section {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  font-size: 1.75rem;
  color: #4f46e5;
  margin-bottom: 1rem;
}

.technologyList,
.practiceList,
.optimizationList,
.infrastructureList {
  list-style: none;
  padding: 0;
}

.technologyList li,
.practiceList li,
.optimizationList li,
.infrastructureList li {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #374151;
}

.sectionDescription {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #6b7280;
}

.tecnologias {
  display: flex;
}

.list-tecnologias {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.img-tecnologias {
  width: 50%;
}

.img {
  width: 90%;
}

.practicas {
  display: flex;
  text-align: end;
  justify-content: center;
  align-items: center;
}

.container-img-practicas {
  display: flex;
  width: 50%;
}

.img-practicas {
  width: 70%;
}

.container-practicas {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.optimizacion {
  display: flex;
}

.container-optimizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.container-img-optimizacion {
  width: 50%;
}

@media screen and (max-width: 536px) {
  .ilustraciones {
    display: none;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 300px; */
  }

  .containers-imgs {
    display: none;
  }
}
